# Python compilation
__pycache__/
*.pyc

# Virtual Environment
venv/

# Editor settings
.idea/

# Environment variables
.env
.env.development

# Data and Databases
*.db
*.csv
*.json
!vercel.json
.vercel
.env*.local
